@charset "UTF-8";
:root {
  --prealoder-x: 0px;
  --prealoder-y: 0px;
  --object-rotation: 0deg; }

/* stylelint-disable */
/* stylelint-enable */
/* stylelint-disable */
/**
* Селекторы для таргетинга на конкретные браузеры без влияния на специфику или
* ограничение использования в медиа-запросах
*
* Плюсы:
* - Работает с медиа-запросами
*
* Минусы:
* - Не может использоваться с @extend, так как это приведет к недействительности других селекторов
*/
/**
* Целевой Internet Explorer, но не Edge
*
* @demo
*	div {
*		@include browser-ie () {
*			// ...
*		}
*	}
*/
/**
* Target IE-Edge
*/
/**
* Target Firefox
*/
/**
* Target Safari
*/
/**
* Target all WebKit browsers
*/
/**
* Remove the unit of a length
*
* @param {Number} $number - Number to remove unit from
* @return {Number} - Unitless number
*/
/**
* Returns nth property from css property list
*
* @property {map} $list List
* @property {number} $index Item index
*
* @example
*	$bottom-margin: css-nth(10px 20px 30px 40px, 3); // 30px
*	$bottom-margin: css-nth(10px 20px, 3); // 10px
*/
/**
* Remove nth elements from the list
*
* @property {map} $list List
* @property {number} $index Item index
*
* @example
*	$list: remove-nth(10px 20px 30px 40px, 3); // 10px 20px 40px
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for one in $index position
*
* 'inherit' value when used with 'margins' or 'paddings' mixin will not produce any output
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-top-only: breakpointPickCssNth($spacer, 1);
* => (xs: 10px inherit inherit inherit, md: 20px inherit inherit inherit)
*	@include margins($spacer-top-only);
*
*	$spacer-bottom-only: breakpointPickCssNth($spacer, 3);
* => (xs: inherit inherit 12px inherit, md: inherit inherit 20px inherit)
*	@include paddings($spacer-bottom-only);
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for top (first) and bottom (third) properties
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-top-bottom: breakpoint-pick-top-bottom($spacer);
* => (xs: 10px inherit 12px inherit, md: 20px inherit 20px inherit)
*	@include margins($spacer-top-bottom);
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for right (second) and left (fourth) properties
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-left-right: breakpoint-pick-top-bottom($spacer);
* => (xs: inherit 11px inherit 13px, md: inherit 0 inherit 0)
*	@include margins($spacer-left-right);
*/
/**
* In each $list pair of $breakpoint: $value merges all values skipping 'inherit'
*
* @example
*	$list-a: (xs: 10px inherit 20px inherit, md: 30px inherit);
*	$list-b: (xs: 40px inherit inherit inherit, md: inherit 50px);
*
*	$list-result: breakpointMapMerge($list-a, $list-b);
*	// (xs: 40px inherit 20px inherit, md: 30px 50px);
*/
/**
* Returns deeply nested property from a map
*
* @function mapGetDeep Deep get for sass maps
* @author https://css-tricks.com/snippets/sass/deep-getset-maps/
* @param {Map} $map - Map
* @param {Arglist} $keys - Key chain
*
* @example
*	$paddings: mapGetDeep($grid-containers, default, paddings, xs);
*/
/**
* Mixin for object-fit plugin
*
* @see https://github.com/bfred-it/object-fit-images
* @see components/_background.scss
* @example
*	@include object-fit(contain);
*	@include object-fit(cover, top);
*/
/**
* Split string into a list
*
* @property {string} $string String
* @property {string} $separator Separator
*
* @example
*	$list: str-split("hello+world", "+"); // (hello, world)
*/
/**
* Converts SVG into data url so that this SVG could be used as a
* background image
*
* @example
*	background-image: svgtodataurl("<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">...</svg>");
*/
/**
* Remove keys from the map
*
* @param {Map} $map - Map from which to remove items
* @param {List} $keys - List of keys which to remove
* @return {Map} - Map without the specified keys
*/
/**
* Качество рендеринга изображений
* В Chrome качество фонового изображения не самое лучшее при использовании background-size
*/
@font-face {
  font-family: 'San Francisco Pro Display';
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'San Francisco Pro Display';
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0; }

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
      -ms-transform: scaleX(1.45);
          transform: scaleX(1.45); }

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1; }

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1); }

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
      -ms-transform: scaleY(1.3);
          transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font: inherit; }

html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "San Francisco Pro Display", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  color: inherit; }
  html.has-cursor,
  html.has-cursor * {
    cursor: none !important; }
  html.is-lock-scroll,
  html.is-lock-scroll body {
    overflow: hidden; }

body {
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden; }

p {
  margin: 0; }

a,
button {
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer; }

a {
  text-decoration: none;
  color: currentColor; }

figure,
picture {
  display: inline-block;
  margin: 0;
  line-height: 0; }
  figure img,
  picture img {
    width: 100%; }

img {
  vertical-align: top;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

img[draggable="false"] {
  pointer-events: none;
  -webkit-user-drag: none; }

fieldset {
  margin: 0;
  border: 0;
  padding: 0; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

video {
  outline: none;
  width: 100%;
  height: 100%; }

iframe {
  display: block; }

.js-lazy-load:not(.is-loaded) {
  max-height: 50vh; }

.container {
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px; }

.section {
  position: relative;
  z-index: 1; }

.intersection-svg {
  position: absolute;
  z-index: -1;
  pointer-events: none; }

.text {
  font-family: "San Francisco Pro Display", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #282A33; }

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin: 0; }

.tempcanvas {
  position: fixed;
  z-index: 9999;
  top: -9999px;
  left: -9999px;
  background: red; }

/* .site {
	display: flex;
	flex-direction: column;
	min-height: 100vh; // fallback
	// stylelint-disable-next-line
	min-height: var(--vh);
} */
.intersection-svg-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 350px;
  width: 100%;
  -webkit-transform: translateY(57px);
      -ms-transform: translateY(57px);
          transform: translateY(57px);
  z-index: -1;
  pointer-events: none; }
  .intersection-svg-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #FAFAFA;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: scale3d(var(--intersection-intro-scale), 1, 1);
            transform: scale3d(var(--intersection-intro-scale), 1, 1); }

.intersection-svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }

.intersection-svg-wrapper--experience {
  -webkit-transform: translateY(164px);
      -ms-transform: translateY(164px);
          transform: translateY(164px); }

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); }

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    -webkit-animation-duration: 0.001s !important;
            animation-duration: 0.001s !important;
    -webkit-animation-delay: 0s !important;
            animation-delay: 0s !important;
    -webkit-transition-duration: 0.001s !important;
         -o-transition-duration: 0.001s !important;
            transition-duration: 0.001s !important;
    -webkit-transition-delay: 0s !important;
         -o-transition-delay: 0s !important;
            transition-delay: 0s !important; } }

/* stylelint-enable */
.is-hidden {
  display: none !important; }

.is-hide {
  opacity: 0; }

@media (max-width: 1024px) {
  .for-desktop {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-tablet {
    display: none !important; } }

@media (max-width: 767px) {
  .for-tablet {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-mobile {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .for-mobile {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-devices {
    display: none !important; } }

.clearfix {
  overflow: auto; }
  .clearfix::after {
    content: "";
    display: table;
    clear: both; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

/* stylelint-disable */
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

/* stylelint-enable */
/* 
Animation
*/
.animation-link {
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out; }
  .animation-link:hover {
    opacity: 0.7; }

.link-effect {
  position: relative;
  padding-bottom: 3px;
  display: inline-block; }
  .link-effect::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    -webkit-transform: scale3d(1, 1.001, 1);
            transform: scale3d(1, 1.001, 1);
    background-color: currentColor;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: -webkit-transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out; }
  .link-effect:hover::before {
    -webkit-transform: scale3d(0, 1.001, 1);
            transform: scale3d(0, 1.001, 1); }

.preloader {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  -webkit-transition: opacity 0.6s ease-out;
  -o-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out; }
  .preloader--loaded {
    opacity: 0; }
  .preloader--hidden {
    opacity: 0;
    z-index: -1;
    pointer-events: none; }

.preloader__pic-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate3d(calc(-100% + var(--prealoder-x)), calc(100% - var(--prealoder-y)), 0);
          transform: translate3d(calc(-100% + var(--prealoder-x)), calc(100% - var(--prealoder-y)), 0);
  -webkit-transition: -webkit-transform linear;
  transition: -webkit-transform linear;
  -o-transition: transform linear;
  transition: transform linear;
  transition: transform linear, -webkit-transform linear;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
  will-change: transform; }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 101;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 10px;
  /* 
    In order to achieve better performance
    we are not changing paddings or height but just scaling this pseudo-element
    since our design allows us to do so
    */
  /* 
    I didn't animate height, to achieve smoother animation
    p.s. I've just came up with this practice, if you find it wrong then I will not use it anymore.
    However I thought that in this particular case I could use it.
    */ }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 0.6s ease-in;
    transition: -webkit-transform 0.6s ease-in;
    -o-transition: transform 0.6s ease-in;
    transition: transform 0.6s ease-in;
    transition: transform 0.6s ease-in, -webkit-transform 0.6s ease-in;
    background-color: #FAFAFA;
    z-index: -1;
    pointer-events: none; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.logo {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
          transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  line-height: 1; }

.logo__pic {
  width: 150px;
  height: 150px; }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-list__item {
  position: relative;
  cursor: pointer; }

.menu-list__item + .menu-list__item {
  margin-left: 32px; }

.menu-list__svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-59%, -64%) scale3d(0, 0, 1);
          transform: translate(-59%, -64%) scale3d(0, 0, 1);
  width: 91px;
  height: 145px;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.6s ease-out;
  -o-transition: opacity 0.3s ease-out, transform 0.6s ease-out;
  transition: opacity 0.3s ease-out, transform 0.6s ease-out;
  transition: opacity 0.3s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  z-index: -1;
  pointer-events: none; }

.menu-list__item-link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2; }

.menu-list__item--active .menu-list__svg,
.menu-list__item:not(.menu-list__item--active):hover .menu-list__svg,
.menu-list__item:not(.menu-list__item--active):focus .menu-list__svg {
  -webkit-transform: translate(-59%, -64%) scale3d(1, 1, 1);
          transform: translate(-59%, -64%) scale3d(1, 1, 1);
  opacity: 1;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom; }

.menu__pic {
  display: none; }

.close-btn {
  display: none;
  line-height: 1;
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out; }
  .close-btn:hover, .close-btn:focus {
    opacity: 0.65; }
  .close-btn__icon {
    width: 20px;
    width: 20px; }

.burger-menu {
  display: none;
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out; }
  .burger-menu:hover, .burger-menu:focus {
    opacity: 0.65; }
  .burger-menu__icon {
    width: 26px;
    height: 18px; }

/* 
When we scroll down more than certain amount then set "header--active" to the header
*/
.header--active {
  /* 
    No transition here, since changing height will cause repainting.
    Therefore I didn't animate height, to achieve smoother animation
    p.s. I've just came up with this practice, if you find it wrong then I will not use it anymore.
    However I thought that in this particular case I could use it.
    */ }
  .header--active::before {
    -webkit-transform: scale3d(1, 0.9, 1);
            transform: scale3d(1, 0.9, 1); }
  .header--active .logo {
    -webkit-transform: scale3d(0.5, 0.5, 1) translate3d(0, -100%, 0);
            transform: scale3d(0.5, 0.5, 1) translate3d(0, -100%, 0); }
  .header--active .header__container {
    height: 50px; }

#canvas-container {
  position: relative;
  width: 100%;
  height: 350px; }

.webgl {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.progress-tracker {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid currentColor;
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  z-index: 100; }

.progress-tracker__top-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out; }

.back-to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #FAFAFA;
  border: none;
  border-radius: 50%; }

.back-to-top__icon {
  width: 18px;
  height: 24px; }

.progress-tracker__progress {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  border-radius: 50%;
  background-color: #FAFAFA;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.progress-tracker__progress-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: currentColor; }

.progress-tracker--full .progress-tracker__top-btn {
  opacity: 1;
  pointer-events: all; }

.progress-tracker--full .progress-tracker__progress {
  opacity: 0;
  pointer-events: none; }

.progress-tracker--full:hover {
  opacity: 0.6; }

.intro__container {
  padding-top: 290px;
  padding-bottom: 200px;
  z-index: 1; }

.intro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.intro__col-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 560px; }

.intro__col-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
  max-width: 100%; }

.intro__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 30px;
  margin-top: 0;
  white-space: nowrap; }

.intro__contact-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px; }

.intro__contact-link + .intro__contact-link {
  margin-top: 10px; }

.intro__contact-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.intro__social-link {
  line-height: 1; }

.intro__social-link + .intro__social-link {
  margin-left: 20px; }

.intro__social-icon {
  width: 25px;
  height: 25px; }
  .intro__social-icon rect {
    fill: #282A33;
    -webkit-transition: fill 0.35s ease-out, opacity 0.35s ease-out;
    -o-transition: fill 0.35s ease-out, opacity 0.35s ease-out;
    transition: fill 0.35s ease-out, opacity 0.35s ease-out;
    opacity: 0.69; }

.intro__social-link:hover .intro__social-icon rect, .intro__social-link:focus .intro__social-icon rect {
  fill: #2140c8;
  opacity: 1; }

.about {
  padding-bottom: 200px; }

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.about__col-experience {
  -webkit-box-flex: 0;
      -ms-flex: 0 3 560px;
          flex: 0 3 560px; }

.about__col-animation {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.about__col-education {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px; }

.about__title {
  margin-bottom: 30px; }

.experience + .experience {
  margin-top: 60px; }

.experience__timeline {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #828282;
  margin-bottom: 8px; }

.experience__duty-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px; }

.experience__duty {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2; }

.experience__duty-icon {
  height: 17px;
  margin-left: 8px; }

.experience__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px; }

.experience__company-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.experience__company-img-wrapper {
  margin-right: 8px; }

.experience__company-img {
  width: 30px;
  height: 30px;
  border-radius: 50%; }

.experience__company-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2; }

.experience__company-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2; }

* + .experience__company-description {
  margin-left: 8px; }

* + .experience__links {
  margin-top: 4px; }

.experience__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.experience__link + .experience__link {
  margin-top: 4px; }

.experience__link {
  color: #2F80ED;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-size: 14px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  min-width: 0; }

.about__pic-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  display: block;
  width: 500px;
  height: 500px; }

.about__pic-object-tube {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  -o-transition: transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
  width: 100%;
  height: 10px;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(5deg + var(--object-rotation)));
          transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(5deg + var(--object-rotation))); }

.about__pic-objects {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-49%, -82%);
      -ms-transform: translate(-49%, -82%);
          transform: translate(-49%, -82%);
  width: 283px;
  height: 283px; }
  .about__pic-objects .about__pic-object-tube:nth-child(1) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(5deg + var(--object-rotation)));
            transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(5deg + var(--object-rotation))); }
    .about__pic-objects .about__pic-object-tube:nth-child(1) .about__pic-object {
      -webkit-transform: translate(0%, -50%) rotate3d(0, 0, 1, calc((5deg + var(--object-rotation)) * -1));
              transform: translate(0%, -50%) rotate3d(0, 0, 1, calc((5deg + var(--object-rotation)) * -1)); }
  .about__pic-objects .about__pic-object-tube:nth-child(2) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(29deg + var(--object-rotation)));
            transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(29deg + var(--object-rotation))); }
    .about__pic-objects .about__pic-object-tube:nth-child(2) .about__pic-object {
      -webkit-transform: translate(100%, -50%) rotate3d(0, 0, 1, calc((29deg + var(--object-rotation)) * -1));
              transform: translate(100%, -50%) rotate3d(0, 0, 1, calc((29deg + var(--object-rotation)) * -1)); }
  .about__pic-objects .about__pic-object-tube:nth-child(3) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(48deg + var(--object-rotation)));
            transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(48deg + var(--object-rotation))); }
    .about__pic-objects .about__pic-object-tube:nth-child(3) .about__pic-object {
      -webkit-transform: translate(0%, -50%) rotate3d(0, 0, 1, calc((48deg + var(--object-rotation)) * -1));
              transform: translate(0%, -50%) rotate3d(0, 0, 1, calc((48deg + var(--object-rotation)) * -1)); }
  .about__pic-objects .about__pic-object-tube:nth-child(4) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(93deg + var(--object-rotation)));
            transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(93deg + var(--object-rotation))); }
    .about__pic-objects .about__pic-object-tube:nth-child(4) .about__pic-object {
      -webkit-transform: translate(0%, -50%) rotate3d(0, 0, 1, calc((93deg + var(--object-rotation)) * -1));
              transform: translate(0%, -50%) rotate3d(0, 0, 1, calc((93deg + var(--object-rotation)) * -1)); }
  .about__pic-objects .about__pic-object-tube:nth-child(5) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(130deg + var(--object-rotation)));
            transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(130deg + var(--object-rotation))); }
    .about__pic-objects .about__pic-object-tube:nth-child(5) .about__pic-object {
      -webkit-transform: translate(100%, -50%) rotate3d(0, 0, 1, calc((130deg + var(--object-rotation)) * -1));
              transform: translate(100%, -50%) rotate3d(0, 0, 1, calc((130deg + var(--object-rotation)) * -1)); }
  .about__pic-objects .about__pic-object-tube:nth-child(6) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(151deg + var(--object-rotation)));
            transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(151deg + var(--object-rotation))); }
    .about__pic-objects .about__pic-object-tube:nth-child(6) .about__pic-object {
      -webkit-transform: translate(0%, -50%) rotate3d(0, 0, 1, calc((151deg + var(--object-rotation)) * -1));
              transform: translate(0%, -50%) rotate3d(0, 0, 1, calc((151deg + var(--object-rotation)) * -1)); }
  .about__pic-objects .about__pic-object-tube:nth-child(7) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(197deg + var(--object-rotation)));
            transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(197deg + var(--object-rotation))); }
    .about__pic-objects .about__pic-object-tube:nth-child(7) .about__pic-object {
      -webkit-transform: translate(0%, -50%) rotate3d(0, 0, 1, calc((197deg + var(--object-rotation)) * -1));
              transform: translate(0%, -50%) rotate3d(0, 0, 1, calc((197deg + var(--object-rotation)) * -1)); }
  .about__pic-objects .about__pic-object-tube:nth-child(8) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(248deg + var(--object-rotation)));
            transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(248deg + var(--object-rotation))); }
    .about__pic-objects .about__pic-object-tube:nth-child(8) .about__pic-object {
      -webkit-transform: translate(-200%, -50%) rotate3d(0, 0, 1, calc((248deg + var(--object-rotation)) * -1));
              transform: translate(-200%, -50%) rotate3d(0, 0, 1, calc((248deg + var(--object-rotation)) * -1)); }
  .about__pic-objects .about__pic-object-tube:nth-child(9) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(307deg + var(--object-rotation)));
            transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, calc(307deg + var(--object-rotation))); }
    .about__pic-objects .about__pic-object-tube:nth-child(9) .about__pic-object {
      -webkit-transform: translate(-200%, -50%) rotate3d(0, 0, 1, calc((307deg + var(--object-rotation)) * -1));
              transform: translate(-200%, -50%) rotate3d(0, 0, 1, calc((307deg + var(--object-rotation)) * -1)); }

.about__pic-object {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out; }

.about__col-education {
  text-align: center;
  padding: 0 39px; }

.about__title {
  margin-bottom: 32px; }

.education-degree + .education-degree {
  margin-top: 30px; }

.education-degree__icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px; }

.education-degree__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 5px; }

.education-degree__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%; }

.education-degree__info + .education-degree__info {
  margin-top: 5px; }

.skills__title {
  margin-bottom: 30px; }

.skills__row {
  display: -ms-grid;
  display: grid;
  min-width: 0;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px; }

.skill {
  -ms-grid-column-span: 3;
  grid-column: span 3; }

.skill__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 6px; }

/* 
Fix bug with locomotive-scroll
*/
.data-scroll-container {
  -webkit-perspective: 1px;
          perspective: 1px; }

/* 
Media queries

I decided to use custom media queries since I thought it would be better.
However if in NineLines you have strict rules of only using templates then further I will
use only provided templates
*/
/* 
I decided to use custom media queries since I thought it would be better.
However if in NineLines you have strict rules of only using templates then further I will
use only provided templates
*/
@media screen and (max-width: 1200px) {
  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .about__col-experience {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .about__col-animation {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .about__col-education {
    position: relative;
    z-index: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    margin-top: 40px; }
  .education-degrees {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 20px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px; }
  .education-degree {
    -ms-grid-column-span: 3;
    grid-column: span 3; }
  .about__col-education {
    padding: 0; }
  .education-degree + .education-degree {
    margin-top: 0; } }

@media screen and (max-width: 1100px) {
  .intro__col-contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
  .header {
    padding-top: 50px; } }

@media screen and (max-width: 1024px) {
  .intro__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .intro__row > * {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
  .intro__col-contacts {
    margin-top: 20px; }
  .intro__title {
    font-size: 28px; }
  .menu__pic {
    display: block;
    width: 500px;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .close-btn {
    position: absolute;
    right: 20px;
    top: 30px;
    display: block; }
  .burger-menu {
    display: block; }
  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #FAFAFA;
    z-index: 1;
    padding: 60px 40px 0 40px;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
    -ms-touch-action: none;
        touch-action: none; }
  .menu--open {
    opacity: 1;
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
    pointer-events: all; }
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .menu-list__item + .menu-list__item {
    margin-left: 0;
    margin-top: 40px; }
  .menu-list__item-link {
    font-size: 26px; }
  .menu-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; } }

@media screen and (max-width: 900px) {
  .education-degree {
    -ms-grid-column-span: 4;
    grid-column: span 4; } }

@media screen and (max-width: 750px) {
  .education-degree {
    -ms-grid-column-span: 6;
    grid-column: span 6; }
  .skill {
    -ms-grid-column-span: 6;
    grid-column: span 6; }
  .about__col-experience {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%; }
  .about__col-animation {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    margin-top: 40px; }
  .about__pic-wrapper {
    position: relative;
    top: initial;
    left: initial;
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
    display: block;
    width: 200px;
    height: 200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .about__pic-objects {
    -webkit-transform: translate(-49%, -60%) scale(40%);
        -ms-transform: translate(-49%, -60%) scale(40%);
            transform: translate(-49%, -60%) scale(40%); }
  .intersection-svg-wrapper--experience {
    -webkit-transform: translateY(104px);
        -ms-transform: translateY(104px);
            transform: translateY(104px); }
  .intro__title {
    white-space: initial; } }

@media screen and (max-width: 650px) {
  .intro__container {
    padding-top: 130px;
    padding-bottom: 40px; }
  .intersection-svg-wrapper {
    -webkit-transform: translateY(150px);
        -ms-transform: translateY(150px);
            transform: translateY(150px); }
  .header {
    padding-top: 20px; }
  .logo__pic {
    width: 80px;
    height: 80px; }
  .header--active .logo {
    -webkit-transform: scale3d(0.8, 0.8, 1) translate3d(0, -50%, 0);
            transform: scale3d(0.8, 0.8, 1) translate3d(0, -50%, 0); }
  .experience__company-info > * {
    display: block; }
  * + .experience__company-description {
    margin-left: 0;
    margin-top: 2px; }
  #canvas-container {
    height: 200px; }
  .about {
    padding-bottom: 60px; } }

@media screen and (max-width: 600px) {
  .skill {
    -ms-grid-column-span: 12;
    grid-column: span 12; } }

/*# sourceMappingURL=main.css.map */
